body{
    margin: 0px;
    padding: 0px;
    font-family: system-ui ;
}

.clearfix{
    clear: both;
}

.main{
    height: 1430px;
    width: 1076px;
    background-color: white;
    box-shadow: 5px 7px 15px 5px #b9b6b6;
    margin: 20px auto;
}

.top-section{
    background-color: #151b29;
    text-align: center;
    padding: 10px;
}
.profile{
    width: 150px;
    border-radius: 50%;

}

.p1{
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin: 0px;
    margin-top: 10px;
}

.p2{
font-size: 20px;
color: #c7c7c7;
margin: 0px;
margin-top: 10px;
}

.col-div-4{
    width: 36%;
    float: left;
    background-color: #b9b6b6;
}
  .col-div-8{
    width: 60%;
    float: left;
}


.line{
    border-left:1px solid #c7c7c7 ;
    height: 0px;
    width: 2%;
    margin-top: 0px;
    margin-bottom: 0px;
    float: left;
}

.content-box{
    padding: 20px;
}

.head{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
}

@media only screen and (max-width: 700px){

    .main{
        margin-bottom: 5px;
        padding: 10px;
    }


}

